@use "../util/functions" as f;
@use "../util/variables" as v;
@use "../util/mixins" as m;
@use "../util/breakpoints" as b;

.ai {
  background-color: var(--color-yellow500);
  border-radius: f.rem(10);
  padding: f.rem(24);
  @include m.mobile-flex;

  @include b.breakpoint(medium) {
    @include m.tablet-ai-grid-area;
  }

  &__imgContainer {
    max-width: f.rem(220);
  }

  &__info {
    color: var(--color-black);
    font-size: f.rem(32);
    font-weight: v.$font-medium;
    line-height: 0.88;

    @include b.breakpoint(medium) {
      font-size: f.rem(36);
      line-height: 0.83;
    }
  }
}