@use "../util/functions" as f;
@use "../util/variables" as v;
@use "../util/mixins" as m;
@use "../util/breakpoints" as b;

.create {
  background-color: var(--color-yellow100);
  border-radius: f.rem(10);
  padding: f.rem(32) f.rem(16);
  @include m.mobile-flex;

  @include b.breakpoint(medium) {
    @include m.tablet-create-grid-area;
    padding: f.rem(24);
    height: f.rem(354);
  }

  @include b.breakpoint(large) {
    @include m.desktop-create-grid-area;
    padding: f.rem(32);
    max-width: f.rem(256);
  }

  &__imgContainer {
    max-width: f.rem(190);
  }

  &__info {
    color: var(--color-black);
    font-size: f.rem(32);
    font-weight: v.$font-medium;
    line-height: 0.88;

    @include b.breakpoint(medium) {
      font-size: f.rem(36);
      line-height: 0.83;
    }

    @include b.breakpoint(large) {
      font-size: f.rem(40);
    }
  }

  &__span {
    color: var(--color-purple500);
  }
}