@use "../util/functions" as f;
@use "../util/variables" as v;
@use "../util/mixins" as m;

.followers {
  background-color: var(--color-purple500);
  border-radius: f.rem(10);
  padding: f.rem(32);
  display: flex;
  flex-direction: column;
  gap: f.rem(24);

  &__infoContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: f.rem(260);
  }

  &__imgContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: f.rem(278);
  }

  &__info {
    color: var(--color-white);
    font-size: f.rem(32);
    font-weight: v.$font-medium;
    text-align: center;
    line-height: 0.88;
  }
}