@use "../util/functions" as f;
@use "../util/variables" as v;
@use "../util/mixins" as m;
@use "../util/breakpoints" as b;

.followers {
  background-color: var(--color-purple500);
  border-radius: f.rem(10);
  padding: f.rem(32);
  @include m.mobile-flex;

  @include b.breakpoint(medium) {
    @include m.tablet-followers-grid-area;
    @include m.tablet-flex;
  }

  &__infoContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: f.rem(260);

    @include b.breakpoint (medium) {
      margin-left: 0rem;
      margin-right: 0rem;
    }
  }

  &__imgContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: f.rem(278);

    @include b.breakpoint (medium) {
      margin-left: 0rem;
      margin-right: 0rem;
    }
  }

  &__info {
    color: var(--color-white);
    font-size: f.rem(32);
    font-weight: v.$font-medium;
    text-align: center;
    line-height: 0.88;

    @include b.breakpoint (medium) {
      text-align: left;
      font-size: f.rem(36);
      font-weight: v.$font-medium;
      line-height: 0.83;
    }
  }
}