@use "../util/functions" as f;
@use "../util/variables" as v;
@use "../util/mixins" as m;
@use "../util/breakpoints" as b;

.schedule {
  background-color: var(--color-yellow500);
  border-radius: f.rem(10);
  padding: f.rem(16) f.rem(16) 0rem f.rem(16);
  @include m.mobile-flex;

  @include b.breakpoint(medium) {
    @include m.tablet-schedule-grid-area;
    padding: f.rem(24) f.rem(24) 0rem f.rem(24);
    gap: f.rem(16);
  }

  @include b.breakpoint(large) {
    @include m.desktop-schedule-grid-area;
  }

  &__info {
    font-size: f.rem(26);
    font-weight: v.$font-medium;
    line-height: 0.88;
  }

  &__imgContainer {
    max-width: f.rem(208);
  }
}