@use "../util/functions" as f;
@use "../util/variables" as v;
@use "../util/mixins" as m;

.social__schedule {
  background-color: var(--color-purple100);
  border-radius: f.rem(10);
  padding: f.rem(32) f.rem(16);
  display: flex;
  flex-direction: column;
  gap: f.rem(24);

  &-infoContainer {
    margin-left: auto;
    margin-right: auto;
  }

  &-infoSchedule {
    font-size: f.rem(26);
    font-weight: v.$font-medium;
    text-align: center;
    line-height: 0.92;
  }

  &-info {
    font-size: f.rem(18);
    font-weight: v.$font-regular;
    text-align: center;
    line-height: 1.11;
  }
}