@use "../util/functions" as f;
@use "../util/variables" as v;
@use "../util/mixins" as m;
@use "../util/breakpoints" as b;

.wrapper {
  @include m.mobile-grid;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  width: min(100% - f.rem(32), f.rem(1440));
  margin-inline: auto;
}