@use "./functions" as f;
@use "./variables" as v;

@mixin mobile-grid {
  display: grid;
  gap: f.rem(32);
  padding-top: f.rem(32);
  padding-bottom: f.rem(32);
}

@mixin mobile-flex {
  display: flex;
  flex-direction: column;
  gap: f.rem(24);
}

@mixin tablet-flex {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  gap: 0rem;
}

@mixin desktop-flex {
  display: flex;
  flex-direction: column;
  gap: f.rem(24);
  align-items: flex-start;
}

@mixin tablet-social-media-grid-area {
  grid-area: 1 / 1 / 3 / 9;
}

@mixin tablet-platforms-grid-area {
  grid-area: 3 / 1 / 4 / 5;
}

@mixin tablet-schedule-grid-area {
  grid-area: 3 / 5 / 4 / 9;
}

@mixin tablet-social-schedule-grid-area {
  grid-area: 4 / 1 / 6 / 9;
}

@mixin tablet-followers-grid-area {
  grid-area: 6 / 1 / 7 / 9;
}

@mixin tablet-growth-grid-area {
  grid-area: 7 / 1 / 8 / 9;
}

@mixin tablet-create-grid-area {
  grid-area: 8 / 1 / 9 / 5;
}

@mixin tablet-ai-grid-area {
  grid-area: 8 / 5 / 9 / 9;
}

@mixin desktop-social-media-grid-area {
  grid-area: 1 / 3 / 5 / 9;
}

@mixin desktop-platforms-grid-area {
  grid-area: 5 / 3 / 8 / 6;
}

@mixin desktop-schedule-grid-area {
  grid-area: 5 / 6 / 8 / 9;
}

@mixin desktop-social-schedule-grid-area {
  grid-area: 1 / 9/ 8/ 12;
}

@mixin desktop-followers-grid-area {
  grid-area: 8 / 6/ 10 / 12;
}

@mixin desktop-growth-grid-area {
  grid-area: 8 / 3 / 10 / 6;
}

@mixin desktop-create-grid-area {
  grid-area: 1 / 1 / 6 / 3;
}

@mixin desktop-ai-grid-area {
  grid-area: 6 / 1 / 10 / 3;
}